/* Define colors */
@define-color bg-dark #222222;
@define-color fg-white #ffffff;
@define-color gray-light #b3b3b3;
@define-color gray-dark #64727D;
@define-color blue-dark #005577;
@define-color dragon-blue #8ba4b0;
@define-color dragon-blue #8ba4b0;
@define-color dragon-black2 #1D1C19;
@define-color red-critical #f53c3c;
@define-color red-urgent #eb4d4b;
@define-color green-charging #26A65B;
@define-color green-light #2ecc71;
@define-color yellow-pulse #f1c40f;
@define-color purple-memory #9b59b6;
@define-color blue-network #2980b9;
@define-color orange-disk #964B00;
@define-color teal-backlight #90b1b1;
@define-color orange-temp #f0932b;
@define-color green-media #66cc99;
/* @define-color niri-blue #7fc8ff; */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack, FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
}

window#waybar {
    background-color: @bg-dark;
    color: @gray-light;
    transition-property: background-color;
    transition-duration: .1s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
    transition-property: background-color;
    transition-duration: .01s;
}

button:hover {
}

#pulseaudio:hover {
    background-color: @dragon-blue;
    color: @bg-dark
}

#workspaces button {
    padding: 2px 0px 0px 5px;
    background-color: transparent;
    color: @gray-light;
}

#workspaces button:hover {
    color: @fg-white;
    /* box-shadow: inset 0 -3px @niri-blue; */
}

#workspaces button.active {
    color: @fg-white;
    background: @bg-dark;
    /* background: @niri-blue; */
    /* box-shadow: inset 0 -3px @niri-blue; */
}

#workspaces button.focused {
    background-color: @bg-dark;
    box-shadow: inset 0 -3px @dragon-blue;
}

#workspaces button.urgent {
    background-color: @red-urgent;
}

#mode {
    background-color: @gray-dark;
    box-shadow: inset 0 -3px @fg-white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @gray-light;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: @bg-dark;
}

#battery {
    background-color: @bg-dark;
    color: @gray-light;
}

#battery:hover {
    background-color: @dragon-blue;
    color: @bg-dark;
}
#battery.charging, #battery.plugged {
    color: @gray-light;
    background-color: @bg-dark;
}
#custom-arch{
    background-color: @bg-dark;
    color: @gray-light;
}
#custom-pacman{
    background-color: @bg-dark;
    color: @gray-light;
}
#custom-pacman:hover {
    background-color: @dragon-blue;
    color: @bg-dark;
}
#custom-spacer {
    color: @gray-light;
    padding-right: 5px;
}
@keyframes blink {
    to {
        background-color: @fg-white;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: @red-critical;
    color: @gray-light;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: @red-critical;
    color: @gray-light;
}

#power-profiles-daemon.balanced {
    background-color: @blue-network;
    color: @gray-light;
}

#power-profiles-daemon.power-saver {
    background-color: @green-light;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: @bg-dark;
    color: @gray-light;
}

#memory {
    background-color: @bg-dark;
}

#disk {
    background-color: @bg-dark;
}

#backlight {
    background-color: @bg-dark;
}

#network {
    background-color: @bg-dark;
}

#network:hover {
    background-color: @blue-dark;
}

#network.disconnected {
    background-color: @red-critical;
}

#pulseaudio {
    background-color: @bg-dark;
    color: @gray-light;
}

#pulseaudio.muted {
    background-color: @bg-dark;
    color: @gray-light;
}

#wireplumber {
    background-color: @bg-dark;
    color: @gray-light;
}

#wireplumber.muted {
    background-color: @red-critical;
}

#custom-media {
    background-color: @bg-dark;
    color: @gray-light;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: @green-media;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @orange-temp;
}

#temperature.critical {
    background-color: @red-urgent;
}

#tray {
    background-color: @bg-dark;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red-urgent;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: @green-media;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: @red-critical;
}

#mpd.stopped {
    background-color: @teal-backlight;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: @gray-light;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
